# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
.env/

# Streamlit Secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
